<head>
{{ partial "head.html" . }}
</head>
<body>

{{ partial "navbar.html" . }}

<style>
/* First image (Logo. Full height) */
.splashthingy {
  background: #000000;
  min-height: 100%;
}
.w3-hover-opacity {cursor: pointer;}
</style>

<!-- First Parallax Image with Logo Text -->
<div class="splashthingy w3-display-container w3-opacity-min" id="top">
  <div class="w3-container w3-center w3-display-middle" style="white-space:nowrap;">
    <span class="w3-text-white w3-animate-opacity w3-jumbo"><p>Hello!</p></span>
    <span class="w3-text-white w3-animate-opacity w3-large"><p>I'm Kate.</p></span>
    <p><button class="w3-button w3-border" onclick="window.location.href='#about';"><b>More about me</b></button></p>
  </div>
</div>
<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h1 class="w3-center">About me</h1>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="https://avatars.githubusercontent.com/u/28711937?v=4" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Profile picture" width="250" height="250">
    </div>

    <div class="w3-col w3-center m6 w3-padding-large">
      <p>I work as a DevOps engineer. It is both my job and main hobby.</p>
      <p>I self-host a decent amount of <a href="https://mcld.eu">services</a> at home.</p>
      <p>Otherwise I enjoy photography, 3D modeling in Blender, flying FPV drones and pretty much anything FOSS.</p>
      <p>I'm also a huge privacy supporter (both in general and online). Companies these days have no shame.</p>
      <p>I have a <a href="/blog">Blog</a> where I talk about some of the things that interest me. I welcome you to take a look.</p>
    </div>
</div>
<hr>

<div class="w3-content w3-container w3-padding-64" id="contacts">
  <h1 class="w3-center">Where to find me</h1>
  <p class="w3-center">On most sites you'll find me under the handle <em>k8ie</em> or less commonly <em>k8ieone</em>.</p><br>
  <!--TODO: Grid with links to my profiles-->
</div>
<hr>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-center w3-container w3-padding-64" id="wip">
  <h1>Work in progress</h1>
  <p>This part of the site is still under construction.</p>
  <i class="fa fa-triangle-exclamation w3-jumbo"></i>
  <br>
  <!--<h1 class="w3-center">My work</h1>-->
  <!--<p class="w3-center">These are some of my projects.</p><br>-->
</div>

{{ partial "footer.html" . }}

</body>
</html>
