{{ define "main" }}
  {{ partial "listing_p1.html" . }}
    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32" id="top">
      <h1><b>My {{ .Title }}</b></h1>
      <h3>Welcome to <span class="w3-tag">Kate</span>'s {{ .Title }}</h3>
      <h5>{{ .Summary }}</h5>
      <h6 class="w3-opacity">You can also browse the {{ .Title }} by <a href="/tags">tags</a>.</h6>
    </header>

  {{ partial "listing_p2.html" . }}
  {{ partial "footer.html" . }}

  <!-- END w3-content -->
  </div>
{{ end }}
