{{ define "main" }}
  <!-- w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1400px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32" id="top">
    <h1><b>{{ .Title | strings.ToUpper }}</b></h1>
    <h3>{{ .Description }}</h3>
    <h5><span class="w3-opacity">{{ .Date | time.Format "Jan 2 2006" }}</span></h5>
    <h6 class="w3-opacity">Tags: 
      {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
        {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
          <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
        {{- end -}} {{- end -}}
      {{ end }}
    </h6>
  </header>

  <!-- Grid -->
  <div class="w3-row">

  <!-- Card with the content -->
  <div class="w3-col 18 s12">
    <div class="w3-card-4 w3-margin w3-white w3-margin">
      <div class="w3-container">
        <p>{{ .Content }}</p>
        <p><button class="w3-button w3-padding-large w3-white w3-border" onclick="window.location.href='{{ .FirstSection.RelPermalink }}';"><b>« GO BACK</b></button></p>
      </div>
    </div>

  <!-- END GRID -->
  </div><br>

  <!-- END w3-content -->
  </div>

  {{ partial "footer.html" . }}
{{ end }}
