{{ define "main" }}
  {{ partial "listing_p1.html" . }}
    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32" id="top">
      <h1><b>{{ .Title }}</b></h1>
      <h5>{{ .Description }}</h5>
      <h6 class="w3-opacity">{{ .Summary }}</h6>
    </header>

    <!-- Grid -->
    <div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col 18 s12">
    {{ range .Data.Terms.ByCount }}
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
          <h3><a href="{{ .Page.RelPermalink }}"><b>{{ .Page.LinkTitle }}</b></a></h3>
          <h5>{{ .Page.Description }}</h5>
          <div class="w3-row"></div>
        </div>
        <div class="w3-container">
          <p>{{ .Page.Summary }}</p>
          <h5>{{ .Count }} Posts<span class="w3-opacity w3-right">Last post: {{ .Page.Date | time.Format "Jan 2 2006" }}</span></h5>
        </div>
      </div>
      <!-- END ENTRY -->
      <hr>
    {{ end }}
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- END GRID -->
    </div><br>
  {{ partial "footer.html" . }}

  <!-- END w3-content -->
  </div>
{{ end }}
