<title>{{ .Title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Ubuntu", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}
html {
  scroll-behavior: smooth;
}
img {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
}
</style>
